<div layout = "row" flex="">
  <div flex="80">
    <md-card>
      <!-- <md-card-content> -->
        <md-list>
          <md-list-item class="md-2-line md-offset" >
            <h3>{{ctrl.story.headline}}</h3>
          </md-list-item>

          <md-divider></md-divider>

          <md-list-item class="md-2-line md-offset" >
            <h4>{{ctrl.story.last_update}}</h4>
          </md-list-item>
        </md-list>

      <!-- </md-card-content> -->
    </md-card>

    <div layout = "row" layout-wrap>
      <div ng-repeat = "article in ctrl.story.articles">
        <div ng-repeat = "image in article.images">

          <md-card style="width: 300px;" >
            <img ng-src="{{image.file}}" img-respnsive class="md-card-image" alt="Washed Out" width="100%" >
            <md-card-actions layout="row" layout-align="center center">
              <md-button class="md-icon-button">
                <md-icon md-font-set="material-icons">info</md-icon>
              </md-button>
              <md-button class="md-icon-button">
                <md-icon md-font-set="material-icons">done</md-icon>
              </md-button>

            </md-card-actions>
          </md-card>
        </div>
      </div>
    </div>


  </div>
  <div flex="20">
    <md-card class="stick">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h3><span>Stories</span></h3>
          <span flex></span>
        </div>
      </md-toolbar>

      <md-card-actions layout="row" layout-align="center center">
        <md-button class="md-raised md-warn">Reset</md-button>
        <md-button class="md-raised md-primary">Next</md-button>
      </md-card-actions>
      <md-card-content>
        <p ng-show="ctrl.two_needed">
          None of the image is selected !<br>
          Please select two images, which you think are contrasting to each other, and represents Visual Bias.
          </p>
        <p ng-show="ctrl.one_needed">
          Only one image is selected !<br>
          Please select second image, which you think is contrasting to this image, and represents Visual Bias.
        </p>
      </md-card-content>
      </md-card>

    </div>
