<div>
  
<canvas>
</canvas>
<div layout="row">
<md-slider-container>
<span>Rotation</span>
<md-slider flex min="0" max="360" ng-model="angle" ng-change="onRotateChange();" aria-label="red" id="red-slider"></md-slider>
<md-input-container><input flex type="number" ng-model="angle" aria-label="red" aria-controls="red-slider"></md-input-container>
</md-slider-container>

<md-slider-container><span>Scale</span><md-slider flex min="0" max="100" ng-model="scale" ng-change="onScaleChange();" aria-label="red" id="red-slider"></md-slider>
<md-input-container><input flex type="number" ng-model="scale" aria-label="red" aria-controls="red-slider"></md-input-container>
</md-slider-container>
</div>
<div layout="row">
<md-input-container class="md-block">
<label>Bottom Text</label>
<textarea ng-model="bottomCaption" ng-change="onbottomCaptionChange();" md-maxlength="150" rows="3" md-select-on-focus></textarea>
</md-input-container>

<md-input-container class="md-block">
<label>Top Text</label>
<textarea ng-model="topCaption" ng-change="ontopCaptionChange();" md-maxlength="150" rows="3" md-select-on-focus></textarea>
</md-input-container>

<md-input-container class="md-block">
<label>Description</label>
<textarea ng-model="description" md-maxlength="150" rows="3" md-select-on-focus></textarea>
</md-input-container>

</div>

<md-button class="md-raised md-primary" ng-click="Save()">Save</md-button>

</div>
