<div flex="">
	<md-card>

	</md-card>


	<md-card>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h3><span>Stories</span></h3>
				<span flex></span>
			</div>
		</md-toolbar>
		<md-card-content>

			<md-list>
				<div ng-repeat = "story in ctrl.stories">
				<md-list-item class="md-2-line md-offset" >
					<md-icon class="material-icons md-48" layout-align="center center">list</md-icon>
					<div class="md-list-item-text">
						<div layout="row">
							<div layout="column" flex="80" layout-align="center start">
								<a ng-href="/story/{{story.id}}/">
								<h3>{{story.headline}}</h3>
								</a>
								<p>{{story.last_update}}</p>
							</div>
							<div layout = "row" flex="20" layout-align = "center end">
									<div  flex="50">
										<md-icon md-font-set="material-icons">description</md-icon> {{story.number_of_articles}}	</div>
									<div  flex="50">
										<md-icon md-font-set="material-icons">photo</md-icon> {{story.number_of_images}}
									</div>
							</div>
						</div>
					</div>
				</md-list-item>
				<md-divider></md-divider>
			</div>
			</md-list>
		</md-card-content>
	</md-card>
</div>
