{% load staticfiles %}
{% load compress %}
<html lang="en" ng-app="crowdsource">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="neilg, dmorina">

    <title>daemo</title>
    <!-- Custom CSS -->
    <link href="{% static 'bower_components/angular-material/angular-material.min.css' %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>

<body>


<div id="appbar" layout="row" ng-controller="NavbarController as navCtrl">
    <md-toolbar class="md-lightblue-theme">
        <div class="md-toolbar-tools" flex>
            <div flex="25" flex-gt-sm="10" layout="row" layout-align="start center">
                <h1 layout-align="left"><a href="/">CrowdVoyant</a></h1>
            </div>
            <div flex layout="row" layout-align="end center">
                <ng-include src="'/static/templates/base/top_navigation.html'"></ng-include>
            </div>
        </div>
    </md-toolbar>
</div>


<div id="main" class="main" layout="row">
    <div flex role="main" tabindex="-1" layout="column" layout-padding>
        <md-content class="md-middle-content md-padding" md-scroll-y="" ng-view="" >
        </md-content>
    </div>
</div>
</body>


{% compress js %}

<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-sanitize/angular-sanitize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-loading-bar/src/loading-bar.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-strap/dist/angular-strap.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-strap/dist/angular-strap.tpl.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-smart-table/dist/smart-table.min.js'%}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-aria/angular-aria.min.js'%}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-material/angular-material.min.js'%}"></script>
<script type="text/javascript" src="{% static 'bower_components/query-string/query-string.js'%}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-filter/dist/angular-filter.js'%}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-dragdrop/src/angular-dragdrop.min.js'%}"></script>
<script type="text/javascript" src="{% static 'bower_components/underscore/underscore-min.js'%}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-ui-sortable/sortable.min.js'%}"></script>
<script type="text/javascript" src="{% static 'bower_components/ng-file-upload/ng-file-upload.min.js'%}"></script>
<script type="text/javascript" src="{% static 'bower_components/ng-file-upload/ng-file-upload-shim.min.js'%}"></script>
<script type="text/javascript" src="{% static 'bower_components/EaselJS/lib/easeljs-NEXT.min.js'%}"></script>
<script type="text/javascript" src="{% static 'bower_components/EaselJS/lib/webgl-NEXT.min.js'%}"></script>

<script type="text/javascript" src="{% static 'js/crowdsource.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'js/crowdsource.interceptor.js' %}"></script> -->
<script type="text/javascript" src="{% static 'js/crowdsource.config.js' %}"></script>
<script type="text/javascript" src="{% static 'js/crowdsource.routes.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'js/crowdsource.directives.js' %}"></script> -->
<script type="text/javascript" src="{% static 'js/http.service.js' %}"></script>

<!--  Forum -->
<!-- <script type="text/javascript" src="{% static 'js/forum/category/forum.category.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/forum/category/controllers/forum.category.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/forum/category/services/forum.category.service.js' %}"></script>

<script type="text/javascript" src="{% static 'js/forum/topic/forum.topic.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/forum/topic/controllers/forum.topic.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/forum/topic/services/forum.topic.service.js' %}"></script>

<script type="text/javascript" src="{% static 'js/forum/comment/forum.comment.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/forum/comment/controllers/forum.comment.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/forum/comment/services/forum.comment.service.js' %}"></script> -->

<script type="text/javascript" src="{% static 'js/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layout/controllers/navbar.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'js/home/home.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/home/controllers/home.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'js/visual/visual.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/visual/controllers/image.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/visual/controllers/collage.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'js/visual/controllers/story.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/visual/services/visual.service.js' %}"></script>
<script type="text/javascript" src="{% static 'js/visual/directives/collage.directive.js' %}"></script>


<!--  /Forum-->
{% endcompress %}
